.banner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--azul-degrade);
    color: var(--cor-branco);
    text-align: center;
    padding: 2rem 2.5rem 3rem;
}

.banner_title {
    font-weight: 700;
    font-size: 1.8rem;
}

.banner_text {
    font-weight: 500;
    font-size: 1.3rem;
}

.banner_search {
    background-color: transparent;
    border: 0.1rem solid var(--cor-branco);
    border-radius: 2.4rem;
    color: var(--cor-branco);
    padding: 1.6rem;
    width: 100%;
}

.banner_search::placeholder {
    padding: 4rem;    
    color: var(--cor-branco);
    font-size: 1.4rem;
    font-weight: 200;
    background: url('../images/Pesquisa.svg') no-repeat 0.5rem;
}

@media screen and (min-width: 1024px) {
    .banner {
        padding: 10rem 20rem;
        align-items: center;
    }

    .banner_title {
        font-size: 3rem;
    }
    
    .banner_text {
        font-size: 1.4rem;
    }

    .banner_search {
        width: 70%;
    }

    .banner_search::placeholder {
        text-align: center;
        background-position: 6rem;
    }
}

@media screen and (min-width: 1728px) {
    .banner_title {
        font-size: 4rem;
    }

    .banner_text {
        font-size: 2rem;
    }

    .banner_search {
        width: 50%;
        padding: 2rem;
    }

    .banner_search::placeholder {
        background-position: 17rem;
    }
}