.contato {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-branco);
    padding: 2rem;
    gap: 2rem;
    color: var(--cor-azul);
}

.contato_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contato_title {
    font-size: 1.7rem;
    font-weight: 700;
}

.contato_text {
    font-size: 1.7rem;
}

.contato_email {
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    font-size: 1.2rem;
    border: solid var(--cor-azul) 0.18rem;
    border-radius: 2rem;
    padding: 1.3rem;
}

.contato_email::placeholder {
    background: url(../images/Email.svg) no-repeat 0rem;
    padding: 0 3rem;
    font-size: 1.6rem;
    color: var(--cor-azul);
}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2rem 15rem;
        gap: 10rem;
    }

    .contato_content {
        width: 40rem;
        gap: 1.5rem;
    }
    

    .contato_title {
        font-size: 2.5rem;
    }

    .contato_text {
        font-size: 1.8rem;
    }

    .contato_input {
        height: fit-content;
        width: 40rem;
    }

    .contato_email {
        padding: 1.5rem;
    }
}