footer {
    background-color: var(--cor-branco);
    padding: 2rem 2rem 4rem;
}

.footer_alura {   
    
    font-size: 2rem;
    font-weight: 500;
}

.footer_educacao, 
.footer_educacaoonline,
.footer_comunidade {
    display: none;
}

@media screen and (min-width: 1024px) {
    footer {
        display: flex;
        justify-content: space-between;
        padding: 3rem;
    }

    .footer_educacao, 
    .footer_educacaoonline,
    .footer_comunidade {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        color: var(--cor-cinza);
    }

    .lista_title {
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 500;
    }

    .footer_lista {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 2rem;
        
    }

    .footer_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .item_title {
        color: var(--cor-cinza);
        font-size: 1.7rem;
        font-weight: 400;
        text-decoration: none;
    }
}