.header {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header_menu {
    background-image: url('../images/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 4rem;
    height: 4rem;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
}

.container_img {
    padding: 1rem;
}

.lista_menu {
    display: none;
    position: absolute;
    top: 100%;
    padding: 0;
    margin: 0;
    width: 60vw;
}

.container_buttom:checked~.lista_menu {
    display: block;
}

.menu_item, .menu_title {
    padding: 1rem 2rem;
    background-color: var(--cor-branco);
    list-style: none;
    font-weight: 500;
    font-size: 1.3rem;
    transition: 0.5s;
}

.menu_item:hover {
    background-color: blue;
}

.menu_title {
    color: var(--cor-laranja);
    font-weight: 700;
}

.lista_menu a {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container_buttom {
    display: none;
}