.header {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header_menu {
    background-image: url('../images/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 4rem;
    height: 4rem;
    display: inline-block;
}

.container {
    display: flex;
}

.container_img {
    padding: 1rem 0.5rem;
}

.container_title, 
.container_text, 
.container_buttom,
.options {
    display: none;
}

.lista_menu {
    display: none;
    position: absolute;
    top: 100%;
    padding: 0;
    margin: 0;
    width: 60vw;
}

.container_buttom:checked~.lista_menu {
    display: block;
}

.container_buttom:checked~.container_rotulo>.header_menu {
    background: url('../images/menu_black_24dp\ 1.png') no-repeat;
}

.container_buttom:checked~.container_rotulo {
    background: var(--azul-degrade);
}

.menu_item, .menu_title {
    padding: 1rem 2rem;
    background-color: var(--cor-branco);
    list-style: none;
    font-weight: 500;
    font-size: 1.3rem;
    transition: 0.5s;
}

.menu_title {
    color: var(--cor-laranja);
    font-weight: 700;
}

.menu_item--link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


@media screen and (min-width: 1024px) {
    .header_menu {
        display: none;
    }

    .container {
        padding: 0 5rem;
        align-items: center;
    }

    .container_title {
        margin: 0;
        padding-top: 1rem;
        display: inline-block;
        font-family: var(--fonte-secundaria);
        font-weight: 400;
        font-size: 3rem;
    }

    .container_title--negrito{
        font-weight: 700;
    }

    .options{
        display: flex;
        list-style: none;
        gap: 6rem;
        align-items: center;
    }

    .options_itens {
        font-size: 1.8rem;
        font-family: var(--fonte-primaria);
        font-weight: 500;
        color: var(--cor-azul);
    }

    .options_link {
        text-decoration: none;
        color: var(--cor-azul);
    }

    .button_favoritos,
    .options_button {
        display: none;
    }

    .lista_menu {
        width: auto;
    }

    .options_button:checked~.lista_menu {
        display: block;
    }

@media screen and (min-width: 1728px) {
    .header {
        height: 10rem;
    }

    .options {
        margin-right: auto;
        align-items: center;
    }

    .options_itens {
        font-size: 2rem;
    }

    .container_buttons {
        gap: 4rem;
    }

    .container_img {
        padding: 0;
    }

    .container_link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .container_text {
        display: flex;
        font-size: 2.3rem;
        font-weight: 500;
        color: var(--cor-azul);
    }

    .options_button:checked~.options_rotulo>.options_itens {
        background: var(--azul-degrade);
        color: var(--cor-branco);
        padding: 3rem 0.5rem;
    }

    .options_button:checked~.options_rotulo>.options {
        align-items: baseline;
    }
}