.header {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_menu {
    background-image: url('../images/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 4rem;
    height: 4rem;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
}

.container_img {
    padding: 1rem;
}