@import url('header.css');
@import url('banner.css');
@import url('carrossel.css');
@import url('topics.css');
@import url('contato.css');
@import url('footer.css');


* {
    padding: 0;
    margin: 0;
}
:root {
    font-size: 62.5%;
    --cor-de-fundo: #ebecee;
    --cor-branco: #ffffff;
    --cor-laranja:#EB9800;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --fonte-principal:'Poppins', sans-serif;
    --cor-azul: #002f52;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
}
